body{
    background: #1f1f47;
}

h1,h2,h3,h4,h5,h6,p,a{
    color: white;
}

header{
    height:60px;
    display: flex;
    justify-content: space-between;
}
.logo_{
    height: 60px;
    width: 60px;
    margin-left: 30px;
    margin-top: 20px;
}

.nav-link{
    color: white;
    padding-right: 20px;
}
.nav-link:hover{
    color:orange;
}
.navbar-toggler{
    background-color: white;
}
nav{
    margin-left: 50px;
    margin-top: 30px;
}
.nav-item{
    color:white;
}
nav,ul,li{
    float: left;
    display: flex;
    padding: 20px;
}


.w-full{
    width: 100%;
}
.mt-76{
    margin-top: 76px;
}

h1{
    color:#fff;
    font-family: Roboto;
    font-size:40px;
    font-style:normal;
    font-weight:500;
    line-height: 60px;
}
h1 strong{
    color:#f3573b;
    font-family: Roboto;
    font-size:40px;
    font-style:normal;
    font-weight:700;
    line-height: 64px;
}

.mt-40{
    margin-top:40px;
    margin-left: 20%;
}
.mt-60{
    margin-top: 60px;
}
.gap-15{
    gap:15px;
}
.gap-24{
    gap:24px;
}

.btn-primary{
    border-radius: 20px;
    background: linear-gradient(331deg, #f76343 28.41%, #fcbf6f 98.47%);
    box-shadow: 4px 8px 16px 0px rgba(0, 27, 111, 0.20);
    border:none;
    color: var(--surface, #fff);
    font-family: Roboto;
    font-size:16px;
    font-style:normal;
    font-weight: 500;
    line-height: 18px;
}
.btn-secondary{
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20)83.85%), rgba(49, 48, 54);
    backdrop-filter: blur(2px);
    border:none;
    color: var(--surface, #fff);
    font-family: Roboto;
    font-size:16px;
    font-style:normal;
    font-weight: 500;
    line-height: 18px;
}

.bg-gradient-blue{
    border-radius: 20px;
    background: linear-gradient(338deg, #0052D4 -31.21%, #4364F7 18.94%, #6FB1FC 98.47%);
    box-shadow: 4px 8px 16px 0px rgba(0, 27, 111,0.20);
    height: 483px;
    width: 364;
}
.bg-gradient-red{
    border-radius: 20px;
    background: linear-gradient(338deg, #C84E89 18.94%, #F15F79 101.7%);
    box-shadow: 4px 8px 16px 0px rgba(0, 27, 111,0.20);
    height: 483px;
    width: 364;
}
.bg-gradient-violet{
    border-radius: 20px;
    background: linear-gradient(338deg, #DA22FF 0%, #9733EE 119.33%);
    box-shadow: 4px 8px 16px 0px rgba(0, 27, 111,0.20);
    height: 483px;
    width: 364;
}

.card-title{
    font-family: Roboto;
    color: white;
    margin-left: 5%;
    text-align:center;
}
.card-text{
    font-family: Roboto;
    font-size: 10px;
    color: white;
    margin-left: 35%;
}

